**/*.wsasm.ws linguist-generated
**/*.ws.wsasm linguist-generated
**/*.wsasm linguist-language=Assembly

# vendored is to exclude from stats, because it's not Witcher Script (whatever that is)
**/*.ws binary linguist-vendored	

poetry.lock linguist-generated
